@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ratings>input{
    display: none;
}
.ratings>label::before{
    content: '\f005';
    font-family:FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}
.ratings>.half::before{
    content: '\f089';
    position: absolute;
    
}
.ratings>label{
    color: #ddd;
    float: right;
    transform: 0.2s;
}
.ratings>input:checked ~label,
.ratings:not(:checked)>label:hover,
.ratings:not(:checked)>label:hover ~label
{
    color: gold;
}